* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  font-family: sans-serif;
  /* background-color: beige; */
  /* font-family: Helvetica; */
}

/* @media screen and (max-width: 1000px) {
  .styledAbout {
    height: 100vh;
  }
} */

@media screen and (max-width: 600px) {
  .navbar {
    display: block;
  }
}
